* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #111;
}
.row__poster {
  object-fit: contain;
  max-height: 100px;
  margin: 30px;
  transition: transform 450ms;
}
a{
  height: auto;
  width: auto;
}
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px;
  
}

.row__poster:hover {  transform: scale(1.19);}
.row__posters::-webkit-scrollbar {  display: none;}
.row__posterLarge {  max-height: 250px;}
.row__posterLarge:hover {  transform: scale(1.09);}

.row {
  color: white;
  margin-left: 20px;
}

/* banner */
.banner {
  background-image: url('god.jpg');
  background-size: cover;
  background-position: center center;
  color: white;
  object-fit: contain;
  height: 600px;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 180px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeBottom {
  margin-top: 300px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}

/* nav */
.nav__logo {
  width: 80px;
  object-fit: contain;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {  background-color: #111;}

/* Add a black background color to the top navigation */
.topnav {
  background-color:transparent;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  transition: all .5s ease;
  float: left;
  color:yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color:white;
  color: black;
  border-radius: 50px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color :white;  
 color: black;
 border-radius: 30px;
}


.footer {
	max-width: 90%;
	margin: 1rem auto;
	overflow: auto;
}

.footer,
.footer a {
	color: #999;
	font-size: 1em;
}

.footer p {	margin-bottom: 1.5rem;}
.footer li {	line-height: 1.9;}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #000;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}
